body {
  float: none;
  background-color: #4d4949;
  background-image: none;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
h1 {
  margin: 10px 418px 10px 420px;
  padding-left: 0px;
  border-right-style: solid;
  border-right-width: 0px;
  background-color: #a10000;
  opacity: 1;
  color: black;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 20px;
  padding-right: 0px;
  padding-left: 0px;
  background-color: #a10000;
  color: black;
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  display: block;
  width: 1386px;
  margin-right: -748px;
  margin-bottom: 5px;
  margin-left: 208px;
  padding-right: 487px;
  padding-bottom: 0px;
  padding-left: 0px;
  float: none;
  background-color: #a10000;
  direction: ltr;
  color: black;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
.links {
  padding-left: 0px;
  background-color: transparent;
  font-size: 15px;
}
.ign {
  padding-right: 0px;
  padding-left: 25px;
}
.youtube {
  padding-left: 25px;
}
.gear-patrol {
  padding-left: 25px;
}
.the-awesomer {
  padding-left: 25px;
}
.family-photo {
  width: 901px;
  margin-top: 0px;
  margin-left: 0px;
  padding-top: 15px;
  padding-left: 0px;
  text-align: center;
}
.paragraph {
  padding-left: 332px;
}
.header-photo {
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0px;
  text-shadow: none;
}
.text {
  margin-right: 419px;
  margin-left: 421px;
  padding-left: 0px;
  background-color: #a10000;
  color: black;
  font-size: 16px;
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
}